body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* //https://www.foodiv.com/?utm_source=google&utm_medium=cpc&utm_campaign=indiasearch&gad_source=1&gclid=CjwKCAiA0bWvBhBjEiwAtEsoW9jHL_C7W9VlOrq6uvDgNK33qOKbzhS2Z9oc2IS-Bj746wzuFoWWVxoCI5MQAvD_BwE */